@model WebApplication4.Models.plantillas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea elimnar esta Plantilla?</h3>
<div>
    <h4>plantillas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensaje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
    }
</div>
